@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora&family=MuseoModerno&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .css-17eqtko {
  visibility: hidden;
} */
/* .newtest:first-child {
  visibility: hidden;
  content: "MUFG Wallet"; 
} */
/* .newtest:first-child:after {
  visibility: visible;
  content: "MUFG Wallet";
} */

.react-responsive-modal-overlay, .react-responsive-modal-container, .react-responsive-modal-modal { animation-fill-mode: forwards!important; }

.connectWalletButton{
  @apply bg-black text-white hover:bg-gray-700 !important;
}

.menu-btn{
  @apply cursor-pointer px-3 py-2 rounded-lg border-2 border-gray-400 hover:bg-gray-200;
}

.white-card{
  @apply bg-white text-black rounded-lg shadow-xl h-full w-full px-5 py-5 cursor-pointer hover:bg-gray-200;
}

.white-card-div{
  @apply bg-white text-black rounded-lg shadow-xl h-full w-full px-5 py-5;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrolling::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrolling {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.museoFont{
  font-family: 'MuseoModerno', serif;
}

.antonFont{
  font-family: 'Anton', sans-serif;
}

.landing-page{
  font-family: 'Lora', serif;
}

.container-home {
  padding: 0 2rem;
  color: #e7e8e8;
  background: #0f1318;
}

.stat-section{
  background: #535353;
}

.gray-color{
  color: #535353;
}

.profile-btn{
  background-color: #F212A3;
  border-radius: 8px;
  padding: 5px 45px;
  margin-left: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.pink-button{
  @apply px-12 rounded-3xl py-2 bg-pink-600 text-white hover:bg-pink-700 hover:text-gray-200;
}

.logo-img{
  height: 25px;
}

.form-control{
  background: #fff;
  color: #000;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid #a6a7a8;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
.modalDiv{
  margin-top: 20px;
}

.customModal {
  width: 90%;
  animation-fill-mode: forwards !important;
  @apply mx-auto;
  color: #000;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  .customModal {
    width: 40%;
    animation-fill-mode: forwards !important;
    @apply mx-auto;
    color: #000;
    text-align: center;
  }
}

.text-center{
 text-align: center;
}

.profile-btn:hover {
  background-color: #b20977;
}

.form-btn{
  background-color: #F212A3;
  border-radius: 8px;
  padding: 10px 45px;
  border: none;
  margin-top: 10px;
  font-size: 14.5px;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #b20977;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #f213a4;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.connect {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: right;
}

.description {
  margin-top: 3rem;
  margin-bottom: 4rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.card {
  background-color: #1b2129;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  color: #0ea5e9;
  border-color: #0ea5e9;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.card,
.footer {
  border-color: #222;
}
.code {
  background: #111;
}
.logo img {
  filter: invert(1);
}

.nftImage {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
